{{> head}}

{{> navbar}}

<div class="row ">
    <div class="col-8">
        <h1>Dead</h1>
        <p>Dead around</p>
    </div>
    <div class="col-4">
        <img src="https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_DeadByDaylight_image1600w.jpg" class="img-thumbnail"/>
    </div>
</div>

{{> footer}}